openpyxl
requests
XlsxWriter
python-dateutil
prophet
pandas
numpy==1.23.5
matplotlib
statsmodels
plotly
openai
iso4217
python-amazon-sp-api
python-dotenv
boto3
requests
urllib3
pytz
pypdf==3.15.1
